*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0;
    background-color: #e6e6e6;
}

.header
{
  background-color: #2e2e33;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  gap: 40px;
}

.logo
{
    cursor: pointer;
    height: 65px;
    background-color: transparent;
}

.link
{
  background-color: #2e2e33;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s;
}

.dropdown_teams.active > .link, 
.dropdown_pos.active > .link,
.link:hover
{
  color: #D8442B;
}

.dropdown_teams, .dropdown_pos
{
  position: relative;
}

.dropdown_menuTeams
{
  position: absolute;
  left: 0;
  top:calc(100%+ .25rem);
  background-color: #2e2e33;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
  opacity: 0;
  pointer-events: none; /*dont allow interaction with the cursor*/
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 100; /*to make dropdown menu appear on top of table holding the cards*/
}

.dropdown_teams.active > .link + .dropdown_menuTeams,
.dropdown_pos.active > .link + .dropdown_menuTeams
{
  opacity: 1; /*to make it appear when click*/
  transform: translateY(0); /*to make is come out from the top to bottom*/
  pointer-events: auto; 
}

.dropdown-heading
{
  color: #ff9900;
  font-size: 20px;
  background-color: #2e2e33;
}

.information-grid
{
  display: grid;
  grid-template-columns: repeat(2,max-content);
  gap: 2rem;
}

.dropdown-links
{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  background-color: #2e2e33;
}

.column1, .column2
{
  background-color: #2e2e33;
}

linkteam
{
  background-color: #2e2e33;
}

/* right section */

#btnSesion
{
    padding: 9px 25px;
    background-color: rgba(216,68,43,1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 20px;
    color: white;
    font-size: 16px;
}

#btnSesion:hover
{
    background-color: rgba(216,68,43,0.6);
}

#ImgCart
{
    height: 40px;
}

#btnCart
{
    vertical-align:middle;
    border: none;   
    color: #D8442B; /* the icon works as text */
    font-size:45px;
}

#nav_left
{
  background-color: transparent;
  position: absolute;
  right: 120px;
}

.cta
{
  background-color: transparent;
}

.btnIcon
{
  background-color: #2e2e33;
}

#CartIco
{
  background-color: transparent;
}

/* ----------------------------------------------- */

#cuerpo
{
    margin: 0% 6%;
    transform: perspective(0%, 6%);
}

#end
{
    height: auto;
    background-color: #26262c;
    vertical-align: bottom;
    color: #CB5235;
    text-align: center;
}

#imgCart
{
    height: 30px;
    width: 30px;
    background-color: transparent;
}


  /* ------------------TABLE----------------------------- */

  table
  {
    margin: 20px 0px;
  }

  td
  {
    padding: 20px;
  }

  /* -------------------CARDS---------------------------- */
  .card
  {
    width: 230px;
    background-color: #D8442B;
  }

  .top-section
  {
    height: 310px;
    overflow: hidden;
    background-color: #D8442B;
    position: relative;
  }

  #image-container /*adjust the image to the size of the space*/
  {
    width: 230px;
    height: 310px;
  }

  .price
  {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff9900;
    background-color: transparent;
    font-size: 22px;
  }

  .product-info
  {
    padding: 10px 24px;
    background-color: #D8442B;
  }

  .selection
  {
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    background-color: transparent;
  }

  .position
  {
    font-size: 18px;
    color:rgba(255, 255, 255, 0.671);
    background-color: transparent;
  }

  .year
  {
    font-size: 18px;
    color:rgba(255, 255, 255, 0.671);
    background-color: transparent;
  }

  .btn_Buy {
    border: none;
    color: white;
    padding: 10px; /*15px 120px   1 vertical 2 horizontal*/
    width: 182px; /*le doy tamaño fijo a los botones*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #26262c;
    border-radius: 10px;
    align-items: center;
    padding-bottom: 13px;
    transition: 0.3s;
  }

  .btn_Buy:hover
  {
    background-color: #1a1a1b;
    color: #D8442B;
  }

  /* ----------------------------------------------- */
  /* ----------------------------------------------- */
  /* ----------------------------------------------- */